* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

[class^="box"] {
    width: 95%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.box1 {
    display: flex;
    justify-content: space-between;
}

.box1 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 .logo img {
    padding: 5px;
}

.box1 .logo .sitename {
    font-weight: bold;
}

.box2 {
    display: flex;
}

.sec1 {
    width: 50%;
}

.sec2 {
    width: 50%;
}

body {
    height: 100vh;
}

.parent {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list li {
    list-style-type: none;
    margin: 10px;
}

.list li a {
    text-decoration: none;
    color: #000;
}

.img1 {
    width: 40px;
}

.sec1 img {
    width: 100%; 
}

@media screen and (max-width: 768px) {
    .box1 {
        flex-direction: column;
        align-items: center;
    }
    .box2 {
        flex-direction: column;

    }
    .sec1,
    .sec2 {
        width: 100%;
    }
    .sec1 img {
        order: -1; 
    }
}
.three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.sec2 .head h1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 60px;
    text-align: center;
}
[class^="three-img"] {
    width: 100px;
    margin: 17px;
    border-radius: 45%;
}
.three img:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}
.img2 {
    text-align: center;
}