body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

header li {
    display: inline-block;
    margin: 0 10px;
}

#showcase {
    background: #333;
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
}

.newsletter {
    background: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.newsletter h1 {
    margin-bottom: 20px;
}

input[type="email"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-1 {
    padding: 10px 20px;
    background: #35424a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-1:hover {
    background: #293538;
}

#boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
}

.box {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(206, 198, 198, 0.568);
}

.box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
    color: #555;
}

img {
    height: 100px;
    margin: 30px;
    border-radius: 50%;
}

#branding {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

a {
    color: #377ba8;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header {
    display: block;
    padding: 0.5rem;
}

th {
    background: gray;
    text-align: center;
}

.ligne1 {
    background-color: rgb(185, 185, 182);
}

.ligne2 {
    background-color: rgb(232, 230, 229);
}
