<div class="box1">
  <div class="logo">
    <a href="/">
      <img class="img1" src="{{ url_for('static', filename='photos/logo.png') }}" alt="LOGO">
    </a>
    <div class="sitename">Deplacity</div>
  </div>
</div>
<div class="menu">
  <nav>
    <ul>
      <li><a href="/">PAGE D'ACCEUIL</a></li>
      <li><a href="/statistique">STATISTIQUES</a></li>
      <li><a href="/requetes">REQUÊTES</a></li>
      <li><a href="/citymap">DEPLAMAP</a></li>
      <li><a href="/ourteam">ÉQUIPE</a></li>
    </ul>
  </nav>
</div>
